<%= form_for([@game,@game.scores.build]) do |f| %>
	  <div>
		Cast your vote: <%= f.collection_select :event, @events, :id, :name %>
		<%= hidden_field_tag "score[rank]", @rank %>
	  </div>

  <div class="actions">
    <%= f.submit "Vote" %>
  </div>
<% end %>
